<!--Top Menu-->
<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="~/assets/images/PertaminaLogo.png" alt="" height="45">
                    </span>
                    <span class="logo-lg">
                        <img src="~/assets/images/Pertamina.png" alt="" height="70">
                    </span>
                </a>

                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="~/assets/images/PertaminaLogo.png" alt="" height="45">
                    </span>
                    <span class="logo-lg">
                        <img src="~/assets/images/Pertamina.png" alt="" height="70">
                    </span>
                </a>
            </div>

            <button type="button"
                    class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn">
                <i class="mdi mdi-menu"></i>
            </button>

        </div>

        <div class="d-flex">
			<a class="logo logo-dark">
				<span class="logo-topbar-sm">
					<img src="~/assets/images/SigapKecil.png" alt="" height="65">
				</span>
				<span class="logo-topbar-lg">
					<img src="~/assets/images/Sigap.png" alt="" height="70">
				</span>
			</a>

			<a class="logo logo-light">
				<span class="logo-topbar-sm">
					<img src="~/assets/images/SigapKecil.png" alt="" height="65">
				</span>
				<span class="logo-topbar-lg">
					<img src="~/assets/images/Sigap.png" alt="" height="70">
				</span>
			</a>
        </div>

        <div class="d-flex">

            <div class="dropdown d-none d-lg-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                    <i class="mdi mdi-fullscreen font-size-24"></i>
                </button>
            </div>
            <!--Notifikasi-->
            <div class="dropdown d-inline-block ms-1">
                <button type="button" class="btn header-item noti-icon waves-effect"
                        id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="ti-bell"></i>
                    <span class="badge text-bg-danger rounded-pill">3</span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                     aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="m-0"> Notifications (258) </h5>
                            </div>
                        </div>
                    </div>
                    <div data-simplebar style="max-height: 230px;">
                        <a href="javascript:void(0);" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar-xs">
                                        <span class="avatar-title border-success rounded-circle ">
                                            <i class="mdi mdi-cart-outline"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1">Your order is placed</h6>
                                    <div class="text-muted">
                                        <p class="mb-1">If several languages coalesce the grammar</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="javascript:void(0);" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar-xs">
                                        <span class="avatar-title border-warning rounded-circle ">
                                            <i class="mdi mdi-message"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1">New Message received</h6>
                                    <div class="text-muted">
                                        <p class="mb-1">You have 87 unread messages</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="javascript:void(0);" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar-xs">
                                        <span class="avatar-title border-info rounded-circle ">
                                            <i class="mdi mdi-glass-cocktail"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1">Your item is shipped</h6>
                                    <div class="text-muted">
                                        <p class="mb-1">It is a long established fact that a reader will</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="javascript:void(0);" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar-xs">
                                        <span class="avatar-title border-primary rounded-circle ">
                                            <i class="mdi mdi-cart-outline"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1">Your order is placed</h6>
                                    <div class="text-muted">
                                        <p class="mb-1">Dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="javascript:void(0);" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar-xs">
                                        <span class="avatar-title border-warning rounded-circle ">
                                            <i class="mdi mdi-message"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1">New Message received</h6>
                                    <div class="text-muted">
                                        <p class="mb-1">You have 87 unread messages</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 border-top">
                        <a class="btn btn-sm btn-link font-size-14 w-100 text-center" href="javascript:void(0)">
                            View all
                        </a>
                    </div>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                    <i class="mdi mdi-spin mdi-cog"></i>
                </button>
            </div>
        </div>
    </div>
</header>
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                @* profile  *@
                <li class="menu-title text-white">Selamat Datang,</li>
                <li>
                    <a href="javascript: void(0);" class="no-background d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
							<img class="rounded-circle header-profile-user me-2" src="~/assets/images/users/user-4.jpg" alt="Header Avatar">
							<span class="text-white text-break">Super Admin</span>
                        </div>
                        <i class="arrow-user text-center"></i>
                    </a>
                    <ul class="sub-menu-user" aria-expanded="true">
                        <a class="text-white text-break">Officer Safety / HSSE</a>
                        <a class="text-white text-break">KPI43778</a>
                        <a class="text-white text-break">PT KPI REFINERY Unit IV</a>
                    </ul>
                </li>

                <hr class="hr-sidemenu" />

                @* batas profile *@
                <li>
                    <a href="/" class="waves-effect">
                        <i class="mdi mdi-home-outline"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/stockgudang">
                        <i class="mdi mdi-table-large"></i>
                        <span> Stock Gudang </span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-basket-outline"></i>
                        <span class="text-break"> Transaksi Barang </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/transaksibarang/pemasukkanbarang">Pemasukkan Barang</a></li>
                        <li><a href="/transaksibarang/permintaanbarang">Permintaan Barang</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/riwayattransaksi">
                        <i class="mdi mdi-file-document-outline"></i>
                        <span> Riwayat Transaksi </span>
                    </a>
                </li>
                <li>
                    <a href="/approval">
                        <i class="mdi mdi-file-check-outline"></i>
                        <span> Approval permintaan </span>
                    </a>
                </li>
                <li>
                <li>
                    <a href="/Notifikasi/HalamanNotifikasi">
                        <i class="mdi mdi-bell-outline"></i>
                        <span> Notifikasi </span>
                    </a>
                </li>
                <li>
                    <a href="/pages/login">
                        <i class="mdi mdi-logout"></i>
                        <span> Logout </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->