@{
    ViewData["Title"] = "Detail Riwayat Transaksi";
    ViewBag.subTitle = "RiwayatTransaksi";
    ViewBag.pageTitle = "Lexa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <div class="row">
                        <h4>Data Permintaan Barang</h4>
                        <div class="col-xl-6 col-sm-12">
                            <a> Nomor MIV: </a>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <a> ID Finger: </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-sm-12">
                            <a> Tanggal: </a>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <a> Bagian: </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-sm-12">
                            <a> Nama Pekerja: </a>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <a> Status: </a>
                        </div>
                    </div>
                    <h4 class="mt-4">Penanggung Jawab</h4> 
                    <div class="row">
                        <div class="col-xl-6 col-sm-12">
                            <a> Nama Pekerja: </a>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <a> Bagian: </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-sm-12">
                            <a> Nomor Pegawai: </a>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <a> File Pendukung: </a>
                        </div>
                    </div>
                    <hr style="border: 10px solid #2B3A4A" />
                    <div class="row">
                        <div class="table-responsive mb-0" data-pattern="priority-columns">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Nama Barang</th>
                                        <th>Jumlah</th>
                                        <th>Satuan</th>
                                        <th>Keterangan</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                </<div>
                </div>
            </div>
        </div>
    </div>
</div>