@{
    ViewData["Title"] = "Riwayat Transaksi";
    ViewBag.subTitle = "RiwayatTransaksi";
    ViewBag.pageTitle = "Lexa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead {
    <!-- Responsive Table CSS -->
    <link href="~/assets/libs/admin-resources/rwd-table/rwd-table.min.css" rel="stylesheet" type="text/css" />
}

@section scripts {
    <!-- Responsive Table JS -->
    <script src="~/assets/libs/admin-resources/rwd-table/rwd-table.min.js"></script>
    <!-- Init JS -->
    <script src="~/assets/js/pages/table-responsive.init.js"></script>
    <script src="~/assets/js/app.js"></script>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Riwayat Transaksi</h1>

                <div class="card-header">
                    <button type="button" class="btn btn-success waves-effect waves-light">
                        <a href="/RiwayatTransaksi/RiwayatStock" class="fas fa-file-medical"> Riwayat Stock </a>
                    </button>
                </div>

                <div class="table-responsive mb-0" data-pattern="priority-columns">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Nama Pekerja</th>
                                <th>No. Pegawai</th>
                                <th>Perusahaan</th>
                                <th>Bagian</th>
                                <th>Tanggal</th>
                                <th>In/Ex</th>
                                <th>Status</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>SuperUser_1</td>
                                <td>2321212</td>
                                <td>Pekerjaan</td>
                                <td>MA II</td>
                                <td>10/12/23</td>
                                <td>EX</td>
                                <td><span class="badge badge-success">Approved</span></td>
                                <td><a href="~/RiwayatTransaksi/DetailRiwayatTransaksi" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Detail</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Evan</td>
                                <td>1344345</td>
                                <td>Pekerjaan</td>
                                <td>HSSE</td>
                                <td>13/12/23</td>
                                <td>IN</td>
                                <td><span class="badge badge-danger">Rejected</span></td>
                                <td><button class="btn btn-info btn-sm">Detail</button></td>
                            </tr>
                            <!-- Additional Rows as Needed -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
