@{
    ViewData["Title"] = "Riwayat Stock";
    ViewBag.subTitle = "RiwayatTransaksi";
    ViewBag.pageTitle = "Lexa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead {
    <!-- Responsive Table CSS -->
    <link href="~/assets/libs/admin-resources/rwd-table/rwd-table.min.css" rel="stylesheet" type="text/css" />
}

@section scripts {
    <!-- Responsive Table JS -->
    <script src="~/assets/libs/admin-resources/rwd-table/rwd-table.min.js"></script>
    <!-- Init JS -->
    <script src="~/assets/js/pages/table-responsive.init.js"></script>
    <script src="~/assets/js/app.js"></script>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Riwayat Stock</h1>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div>
                        <a href="/RiwayatTransaksi" class="btn btn-success waves-effect waves-light">
                            <i class="fas fa-file-medical"></i> Riwayat Transaksi
                        </a>
                    </div>
                    <input type="text" class="form-control" placeholder="Search..." style="width: 200px;">                   
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Barang</th>
                                <th>Kategori</th>
                                <th>Tanggal</th>
                                <th>Status</th>
                                <th>Jumlah</th>
                                <th>Stock</th>
                                <th>Transaksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><img src="path_to_image/sarung_tangan_kulit.jpg" alt="Sarung Tangan Kulit" style="width: 50px;" /> Sarung Tangan Kulit</td>
                                <td>Sarung Tangan</td>
                                <td>8/4/2024</td>
                                <td>Masuk</td>
                                <td>222</td>
                                <td>222</td>
                                <td><button class="btn btn-primary">Detail</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><img src="path_to_image/tissue_majun_roll.jpg" alt="Tissue Majun Roll" style="width: 50px;" /> Tissue Majun Roll</td>
                                <td>Helm</td>
                                <td>7/4/2024</td>
                                <td>Keluarnya</td>
                                <td>42</td>
                                <td>42</td>
                                <td><button class="btn btn-primary">Detail</button></td>
                            </tr>
                            <!-- Add more rows as per your data -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>