@{
    ViewData["Title"] = "index";
    ViewBag.subTitle = "StockGudang";
    ViewBag.pageTitle = "Lexa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead {
    <!-- Responsive Table css -->
    <link href="~/assets/libs/admin-resources/rwd-table/rwd-table.min.css" rel="stylesheet" type="text/css" />
}
@section scripts {
    <!-- Responsive Table js -->
    <script src="~/assets/libs/admin-resources/rwd-table/rwd-table.min.js"></script>

    <!-- Init js -->
    <script src="~/assets/js/pages/table-responsive.init.js"></script>
    <script src="~/assets/js/app.js"></script>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Master Stock Gudang</h1>
                <div class="card-header">
                    <button type="button" class="btn btn-success"><a href="/StockGudang/TambahBarang" class="text-white">Tambah</a></button>
                    <button type="button" class="btn btn-danger"><a href="#" class="text-white">Hapus</a></button>
                    <button type="button" class="btn btn-success"><a href="/transaksibarang/pemasukkanbarang" class="text-white">Pemasukan</a></button>
                </div>
                <div class="table-responsive mb-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><input type="checkbox" /></th>
                                <th>Barang</th>
                                <th>Status</th>
                                <th>Kategori</th>
                                <th>Jumlah</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Sarung Tangan Kulit</td>
                                <td>99%</td>
                                <td>Sarung Tangan</td>
                                <td>222</td>
                                <td>
                                    <a href="~/StockGudang/DetailBarang" class="btn btn-primary" role="button" aria-pressed="true">Detail</a>
                                    <button class="btn btn-warning">Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Tissue Majun Roll</td>
                                <td>-25%</td>
                                <td>Helm</td>
                                <td>42</td>
                                <td>
                                    <button class="btn btn-info">Detail</button>
                                    <button class="btn btn-warning">Edit</button>
                                </td>
                            </tr>
                            <!-- Additional Rows... -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


